PORT=3001
PROGRAM_ID=8dLu65pPh6AbfDmRW5GUGqjPQuxihnpv2vWydzt98vKj
BASE_RPC_URL=https://rpc.magicblock.app/devnet
ROUTER_URL=https://devnet-router.magicblock.app/
EPHEMERAL_RPC_URL=https://devnet-as.magicblock.app/
NETWORK=devnet
RELAYER_KEYPAIR=
COMMIT_INTERVAL_PINGS=20
